.intro
    @extend .section
    background: #fff
    z-index: 1
    &__span
        margin-top: 24px

    &__button-continue
        align-self: flex-end
        flex-shrink: 0
        background-color: $orange-light
        border: none
        display: block
        width: 50px
        height: 50px
        margin-top: 50px
        border-radius: 50%
