<section class="intro">
    <div class="app-container">
        <div class="wrapper">
            <div class="col-2">
                <div class="svg-wrapper">
                    <svg class="svg_image" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 1200 1200" style="enable-background:new 0 0 26.799 26.799;" xml:space="preserve" stroke-width="3" stroke="black" fill="none">
                    <g class="">
                        <rect x="0" y="225" rx="10" ry="10" width="1200" height="600"  fill="black"/>
                        <rect x="0" y="775"  rx="5" width="1200" height="50" fill="lightblue"/>
                        <rect x="0" y="225"  rx="5" width="1200" height="50" fill="lightblue"/>
                        <circle cx="25" cy="250" r="10" fill="white" stroke="white"/>
                        <circle cx="60" cy="250" r="10" fill="white" stroke="white"/>
                        <text></text>
                        <text x="15" y="350" font-size="60" stroke="none" fill="white">$: welcome!</text>
                    </g>

                    </svg>
                </div><!--svg wrapper sets fixed position-->
            </div><!--col-2-->
            <div class="col-2">
                siema heniu
            </div><!--col-2-->

        </div><!--wrapper controls clipping-->
    </div><!--app-conainer controls the width-->
</section>
