<section class="intro">
    <div class="app-container">
        <div class="wrapper">
            <div class="col-2">
                <div class="svg-wrapper">
                    <svg class="svg_image" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 1200 1200" xml:space="preserve" stroke-width="3" stroke="black" fill="none">
                    <g class="console">
                        <rect x="0" y="225" rx="10" ry="10" width="1200" height="600" fill="black"/>
                        <rect x="0" y="775" rx="5" width="1200" height="50" fill="#484848"/>
                        <rect x="0" y="225" rx="5" width="1200" height="50" fill="#484848"/>
                        <circle cx="25" cy="250" r="10" fill="white" stroke="black"/>
                        <circle cx="60" cy="250" r="10" fill="white" stroke="black"/>
                        <circle cx="95" cy="250" r="10" fill="white" stroke="black"/>

                        <defs>
                          <linearGradient id="linear" x1="0%" y1="0%" x2="100%" y2="0%">
                            <stop offset="0%"   stop-color="#e64a19"/>
                            <stop offset="100%" stop-color="#ff7d47"/>
                          </linearGradient>
                        </defs>
                        <rect class="screen-border" x="0" y="225" rx="5" ry="5" width="1200" height="600" fill="none" stroke="url(#linear)" stroke-dasharray="3700" stroke-dashoffset="3700" stroke-width="6"/>
                        <defs>
                            <path id="mypath" d="M15 350 h100" stroke="blue">
                        </defs>
                        <text xlink:href="#mypath" class="console-text" font-size="60" stroke="none" fill="white">
                            <textPath xlink:href="#mypath">$: welcome!</textPath>
                        </text>
                    </g>
                    </svg>
                </div><!--svg wrapper sets fixed position-->
            </div><!--col-2-->
            <div class="col-2">
                <h1>Junior Front-End Developer</h1>
                <h2>Paweł Marcinkowski</h2>
                <span class="intro__span">
                    Hi, I'm Paweł!</br>
                    If you visited this website, it's quite possible that you are looking for a front-end developer.
                    Let me help you with that. Scroll down if you're interested.
                </span>
            </div><!--col-2-->

        </div><!--wrapper controls clipping-->
    </div><!--app-conainer controls the width-->
</section>
