<section class="stack" id="stack">
    <h2 class="stack__header">My stack:</h2>
    <div class="app-container app-container--flex">
        <div class="image-left">
            <h3>Front-End</h3>
            <svg class="image-left__icon"  viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <defs>
                    <path d="M0 0h24v24H0V0z" id="a"/>
                </defs>
                <clipPath id="b">
                    <use overflow="visible" xlink:href="#a"/>
                </clipPath>
                <path clip-path="url(#b)" d="M20 18c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2H0v2h24v-2h-4zM4 6h16v10H4V6z"/>
            </svg>
        </div>
        <div class="technologies">
            <div class="technologies__front">
                <div class="images-row">
                    <img src="../images/javascript.png" alt="JavaScript">
                    <img src="../images/html5.png" alt="html">
                    <img src="../images/css3.png" alt="css">
                    <img src="../images/sass.png" alt="Sass">
                </div>
                <div class="images-row">
                    <img src="../images/angular.png" alt="Angular (2+)">
                    <img src="../images/jquery.png" alt="J Query">
                    <img src="../images/gulp.png" alt="Gulp">
                    <img src="../images/bootstrap.png" alt="Bootstrap">
                </div>


            </div>
            <div class="technologies__back">
                <div class="images-row">
                    <img src="../images/nodejs.png" alt="Node Js">
                    <img src="../images/mongo-db.png" alt="Mongo D B">
                </div>
                <div class="images-row">
                    <img src="../images/express.png" alt="Express JS">
                    <img src="../images/git.png" alt="GIT">
                </div>
            </div>

        </div>
        <div class="image-right">
            <h3>Back-End/Dev</h3>
            <svg class="image-right__icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0h24v24H0z" fill="none"/>
                <path d="M2 20h20v-4H2v4zm2-3h2v2H4v-2zM2 4v4h20V4H2zm4 3H4V5h2v2zm-4 7h20v-4H2v4zm2-3h2v2H4v-2z"/>
            </svg>
        </div>
    </div>
</section>
