.navbar
    height: 50px
    width: 100%
    position: fixed
    z-index: 100
    top: 0
    left: 0
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    padding: 0 25px
    background-color: #fff
    box-shadow: 0px 2px 5px 2px rgba(255,255,255, .25)
    &__items
        display: flex
        flex-direction: row
    &__link
        display: flex
        align-items: center
        color: $grey-primary
        padding: 6px 20px
        border-radius: 2px
        transition: all .3s ease-in
        &:focus,
        &:hover
            background-color: rgba($orange-light, .2)

    &__icon
        fill: $grey-primary
        margin-right: 5px
    &__languages
        display: flex
        flex-direction: row

    &__button-continue
        position: fixed
        bottom: 10%
        right: 24px
        z-index: 100
        background-color: $orange-light
        border: none
        display: block
        width: 50px
        height: 50px
        margin-top: 50px
        border-radius: 50%
        box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12)

.languages
    &__button
        border: none
        padding: 10px 20px
        border-radius: 2px
        background-color: transparent
        color: $grey-primary
        text-decoration: none
        transition: all .3s ease-in
        display: block
        &:hover,
        &:focus
            background-color: rgba($orange-light, .2)
            transform: scale(1.05)

@media screen and (max-width: 700px)
    .navbar
        &__link
            flex-direction: column
            padding: 6px 10px



@media screen and (max-width: 500px)
    .navbar
        padding: 0
        justify-content: center
        &__link
            flex-direction: column
            padding: 6px

    .languages
        &__button
            padding: 15px 10px

@media screen and (max-width: 390px)
    .navbar
        padding: 0
        justify-content: center
        &__link
            flex-direction: column
            padding: 6px 3px
            span
                font-size: 1.4rem

    .languages
        &__button
            padding: 15px 10px
