<header>
    <nav class="navbar">
        <div class="navbar__items">
            Siema
        </div>
        <div class="navbar__languages">
            <a href="" type="button" class="languages__button mdc-button">PL</a>
            <a href="" type="button" class="languages__button mdc-button">EN</a>
        </div>
    </nav>
</header>
