<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Pawel Marcinkowski</title>
	<meta name="description" content="Pawel Marcinkowski - Junior Front End Developer - Kraków, Tarnów">
	<meta name="keywords" content="junior front-end developer, front-end developer, javascript developer, krakow, tarnow, maloposkie">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="css/favicon.ico">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
siemano, witam w mojej kuchni
<script src="js/main.js"></script>
</body>
</html>
