<section class="why-me" id="why-me">
    <div class="app-container">
        <div class="wrapper">
            <div class="col-2">
                <div class="svg-wrapper">
                <svg class="svg_image" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 1200 1200" style="enable-background:new 0 0 26.799 26.799;" xml:space="preserve" stroke-width="3" stroke="white" fill="none">

                     <text class="question-mark" x="400" y="725" font-size="600" stroke="none" fill="white">
                        ?
                     </text>
                     <text class="period" x="414" y="725" font-size="600" stroke="none" fill="white">
                        .
                     </text>
                </svg>
                </div>
            </div><!--col-2-->
            <div class="col-2">
                <h2 class="why-me__header">Why me?</h2>
                <span class="why-me__text"><b>Professional approach to work.</b> Anywhere I have worked, I've been valued employee and can prove that with reference letters and contacts.</span>
                <span class="why-me__text"><b>Wiligness to keep improving myself.</b> My carieer path shows that I always want to learn more and achieve higher goals.</span>
                <span class="why-me__text"><b>English on a very good level.</b> For 2.5 years I have workd in London, and thanks to that I had ability to practice that language on a daily basis.</span>
                <span class="why-me__text"><b>Ability to deal with problems on my own.</b> This is where English comes into play again. I'm not limited to information in one language, thus it's easier for me to find a solution to the problem.</span>
                <span class="why-me__text"><b>Versality or even complexity. </b>Apart from programming skills my professional life helped me to develop other skills: understadning the business side (not just the technical one), ecommerce and operational experience, and decent skills in other areas of IT.</span>
            </div><!--col-2-->
        </div><!--wrapper controls clipping-->
    </div><!--app-conainer controls the width-->
</section>
