<section class="about">
    <div class="app-container">
        <div class="wrapper">
            <div class="col-2">
                <div class="svg-wrapper">
                    <svg class="svg_image" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 1200 1200" style="enable-background:new 0 0 26.799 26.799;" xml:space="preserve" stroke-width="3" stroke="black" fill="none">
                    <g>
                        <rect x="0" y="200" rx="10" ry="10" width="1200" height="600"/>

                        <rect x="0" y="250"  width="1200" height="1"/>
                        <rect x="0" y="750"  width="1200" height="1"/>
                    </g>
                    <g>
                        <rect x="400" y="800"  width="400" height="50"/>
                        <rect x="300" y="850"  width="600" height="3"/>
                    </g>
                    </svg>
                </div>
            </div>
            <div class="col-2">Elo elo!</div>
        </div><!--wrapper controls clipping-->
    </div><!--app-conainer controls the width-->
</section>
