<footer class="footer" id="footer">
    <div class="footer__container">
        <a class="footer__link" href="https://www.linkedin.com/in/pawel-marcinkowski/">LinkedIn Profile</a>
        <a class="footer__link" href="https://github.com/wafel34">Github Profile</a>
    </div>
</footer>
