<section class="projects" id="projects">
    <div class="app-container app-container--projects">
        <div class="card-wrapper">
            <div class="card">
                <h4 class="card__header">Recipes App</h4>
                <h5 class="card__description">Full stack application built in Angular</h5>
                <span class="card__technologies">Angular (2+, CLI), Sass, ExpressJS, MongoDB</span>
                <div class="card__image"></div>
                <div class="actions">
                    <button>View</button>
                    <button>Code</button>
                </div>
            </div>
        </div>

        <div class="card-wrapper">
            <div class="card">
                <h4 class="card__header">Recipes App</h4>
                <h5 class="card__description">Full stack application built in Angular</h5>
                <span class="card__technologies">Angular (2+, CLI), Sass, ExpressJS, MongoDB</span>
                <div class="card__image"></div>
                <div class="actions">
                    <button>View</button>
                    <button>Code</button>
                </div>
        </div>
        </div>

        <div class="card-wrapper">
            <div class="card">
                <h4 class="card__header">Recipes App</h4>
                <h5 class="card__description">Full stack application built in Angular</h5>
                <span class="card__technologies">Angular (2+, CLI), Sass, ExpressJS, MongoDB</span>
                <div class="card__image"></div>
                <div class="actions">
                    <button>View</button>
                    <button>Code</button>
                </div>
            </div>
        </div>


        <div class="card-wrapper">
            <div class="card">
                <h4 class="card__header">Recipes App</h4>
                <h5 class="card__description">Full stack application built in Angular</h5>
                <span class="card__technologies">Angular (2+, CLI), Sass, ExpressJS, MongoDB</span>
                <div class="card__image"></div>
                <div class="actions">
                    <button>View</button>
                    <button>Code</button>
                </div>
            </div>
        </div>

        <div class="card-wrapper">
            <div class="card">
                <h4 class="card__header">Recipes App</h4>
                <h5 class="card__description">Full stack application built in Angular</h5>
                <span class="card__technologies">Angular (2+, CLI), Sass, ExpressJS, MongoDB</span>
                <div class="card__image"></div>
                <div class="actions">
                    <button>View</button>
                    <button>Code</button>
                </div>
            </div>
        </div>

    </div>
</section>
